$grey500 : #9e9e9e;

.custom-text-box {
    width: 100%;

    input,
    textarea {
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid $grey500;
        padding: 1em;
        resize: none;
        &.bold{
            font-weight: bold;
        }
        &.error{
            border-color: #f00;
        }
    }

    span.error{
        padding: 5px 10px;
        display: block;
        width: 100%;
        text-align: right;
        color: #f00;
        font-size: 0.8em;
    }
}